# AA - Data Prep & Cleaning Field Work

In this exercise, we will aggregate, prepare and clean data.  You are required to enter code code in the blocks beginning with _#TASK:_ 

__Description:__
* <a href = '#sec1'>Preliminary</a>
* <a href = '#sec2'>Exercise 1: Data preparation</a>
    * <a href = '#sec21'>1a: Basic quality checks</a>
    * <a href = '#sec22'>1b: Join data sources</a>
    * <a href = '#sec23'>1c: Encode missing values</a>
    * <a href = '#sec25'>1d: Format corrections </a>
    * <a href = '#sec24'>1e: Encode values consistently</a>
* <a href = '#sec3'>Data cleaning</a>
    * <a href = '#sec31'>Exercise 2: Handling missing values </a>
    * <a href = '#sec43'>Exercise 3: Eliminating outliers </a>
    * <a href = '#sec42'>Exercise 4: Redundancy / Inconsistency </a>
* <a href = '#sec6'>4. Save the prepared data set</a>

----
<a id='sec1'></a>
# Preliminary

### Import required packages and change directory 
__Required packages:__ 
* os 
* numpy
* pandas  
* matplotlib
* seaborn

<br>
You can import packages using the 

    import

command. In this module, we are working primarily with **pandas**, which is the standard package in Python for data manipulation.

For visualization purposes, we will use **matplotlib** (the standard Python plotting library) as well as **seaborn**. *Matplotlib* is very versatile and customizable, but can require a few lines of code. *Seaborn* is more convenient for the main chart types, but is less customizable.

In [ ]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#set pandas to display 50 table columns by default
pd.set_option('display.max.columns', 50)

### Load data

In [ ]:
churn_df = pd.read_csv("bankingchurn_data.csv")

----
<a id='sec2'></a>
# Exercise 1: Data Preparation

### Exercise 1a: Basic quality checks

As a start, we should take a look at the data before we start working with it. Some basic quality checks include:

- Review the first and last rows
- Encode of missing values
- Format corrections

<a id='sec21'></a>
#### Review the first and last rows
Printing the first rows gives us a quick overview whether the data was loaded in properly. Do you already notice something strange?

     head(): Returns the first rows
     tail(): Returns the last rows

In [ ]:
#TASK: Show the first 10 rows of churn_df

In [ ]:
#TASK: Show the last 5 rows of churn_df

Let's look at the data types. 

     dtypes: displays the data types for each column
     info(): displays information about the data frame, including data types

In [ ]:
#TASK: Show the data types of churn_df

In [ ]:
#TASK: List any observations that seem perculiar regarding the data types shown above.  No need for code here, plain text is fine :)

### Exercise 1b: Join data sources

We have managed to obtain data pertaining to customer withdrawal values and would like to incorporate this into our master data frame.  To do this we need to:

- Load the withdrawal data in "cash_withdrawals_data.csv"
- Identify a column in each of our data frames to join the data on
- Join the cash withdrawal data into the master churn_df dataframe

In [ ]:
#Load cash_withdrawals_data.csv
cash_withdraw_df = pd.read_csv("cash_withdrawals_data.csv")

In [ ]:
#TASK: Show the top 10 rows of the cash withdrawals data and try to identify which column you should join on

In [ ]:
#TASK: Merge the withdrawal data into churn_df

In [ ]:
#TASK: Show the first 10 rows of churn_df and check that the merge worked.

In [ ]:
# Do you notice any issues as a result of the join?  List them below.
#TASK: List potential issues introduced by the join

<a id='sec22'></a>
### Exercise 1c: Encode missing values
In the first rows we see that missing values in the column _contract_end_ are encoded as '-'. This can be problematic because Python won't be able to identify the correct data type of these columns. Other commonly used values for missing values are '999' or 'NA'. 
<br>

Let's check which columns have '-' as missing values.

        isin(): checks whether an element is contained in values
        replace(): replaces a given value with another

In [ ]:
#TASK: Check which other columns contain "-"

There are different ways to solve this, the most elegant is to replace
"-" with "NaN". For this we can use the _.NaN_ functionality of the numpy package.

In [ ]:
#TASK: For each of the columns which contain "-", replace "-" with NaN

--------
<a id='sec24'></a>
### Exercise 1d: Format corrections
Let's look at the data types again and try fix the observations we made earlier regarding column types. 

     dtypes: displays the data types for each column
     info(): displays information about the data frame, including data types

In [ ]:
churn_df.dtypes

__Convert to Datetime:__ We see that several date columns are of type 'object', which typically represents text. Python has a specific data type **datetime** which is designed to work with time-based data. Let's change the data type of that column. Let's convert them to date format. 

    to_datetime(): Convert argument to datetime
    to_datetime(dayfirst=True): Convert argument to datetime for date formats where the day is the first entry

In [ ]:
#TASK: Convert "data_of_birth", "contract_start" and "contract_end" columns from type 'object' to 'datetime'

When we check how the data looks like now, we notice that the formatting has changed to 'datetime64'. It is now a proper time-based data type, which we could manipulate easily.

__Convert to Category__: Some columns are categorical variables, but stored as 'object'. Let's convert them accordingly.

    astype('category'): converts to categorical datatype

In [ ]:
#TASK:  Convert "gender", "profession", "ZIP" and "segment" columns from type 'object' to 'category'

Looking in the data set, we see that all binary variables are stored as 'object'. Luckily, they all contain the string 'flag'. Using the str method, we can convert them all together. 

    str.contains(): Test if pattern or regex is contained within a string or a series

In [ ]:
# Let's filter out all binary variables
binary_var = churn_df.columns[churn_df.columns.str.contains('flag')]
binary_var

In [ ]:
# Convert all binary variables to categorical type
for col_name in binary_var:
    churn_df[col_name] = churn_df[col_name].astype('category')

__Convert to Numeric:__ Some columns should of type 'numeric'. Let's convert them accordingly.

    to_numeric(): converts to numeric datatype

In [ ]:
#TASK: Convert "credit_rating" column to numeric

In [ ]:
# Check our results
churn_df.dtypes

<a id='sec23'></a>
### Exercise 1e: Encode values consistently
We notice that all binary variables (taking on exactly two values) are encoded with 0 and 1, except for insurance_house_flag (1, 2)). Let's correct it.

In [ ]:
churn_df['insurance_house_flag'].unique()

In [ ]:
#TASK: Ensure that "insurance_house_flag" is either 0 or 1, instead of 1 or 2.

In [ ]:
churn_df['insurance_house_flag'].unique()

--------
<a id='sec4'></a>
# Data Cleaning

<a id='sec43'></a>
### Exercise 2: Handling missing values
There are missing values, which most algorithms cannot deal with 
(meaning the information from the column is lost).

We have to decide what we do with missing values. Some options are: 
 - Exclude variables with NAs (e.g. using a threshold)
 - Removing rows with NAs 
 - Consider NAs as a separate catogory
 - Impute missing values with an aggregated value (e.g. mean, median, min, max)

#### Identify rows with missing values
     
     isna(): Check for missing values

In [ ]:
#TASK:  Identify the number of rows with missing values in each column

__What do you suggest for the four variables with missing values?__

Remember what we did for _contract_end_ , _profession_ and _credit_rating_ earlier during the workshop on Day 2?  What do we want to do now about missing values in _cash_withdrawals_value_ ?

In [ ]:
#TASK:  List out your chosen action for handling NAs for each of the 4 variables with missing values, i.e. Keep variable as is, remove variable, impute with median, encode missing values as separate category and give your reasons

In [ ]:
#TASK: Show the count of all the unique values contained in "profession"

In [ ]:
#TASK: Consider NAs in "profession" as a separate category ("unknown")

In [ ]:
#TASK Impute NAs in "credit_rating" with the median of the column

In [ ]:
#TASK: Impute NAs in "cash_withdrawals_value" with the mean of the relevant segment.

<a id='sec41'></a>
## Exercise 3: Eliminate outliers

Get an initial overview using describe()

In [ ]:
#TASK: Generate the key metrics (e.g. mean, median, max, min, etc.) of 'cash_withdrawals_value' column

There seem to be some very obvious outliers

Perform visual inspection using a boxplot or a histogram.

    plt.hist()
    plt.boxplot()

In [ ]:
#TASK: Create the histogram of cash_withdrawals_value with 30 bins

In [ ]:
#TASK: Create the boxplot of cash_withdrawals_value

In [ ]:
#TASK: Identify a threshold value you would use to remove the outliers, and then remove the outliers

In [ ]:
#TASK: Regenerate the histogram with outliers removed.

In [ ]:
#TASK: Regenerate the box plot with outliers removed

#### Are there still outliers?  What would your next steps be?

In [ ]:
#TASK:  Outline your observations and next steps below regarding the cash_withdrawals_value column.

<a id='sec42'></a>
### Exercise 4: Redundancy / Inconsistency

#### Handling duplicates
We should always delete duplicate observations as they don't provide any new information

     duplicated(): Returns a series of TRUE/FALSE denoting duplicate rows.

In [ ]:
#TASK: Identify duplicated rows

#### Watch out for row indices!
When looking for duplicate rows, we should be wary of row indices.  It would appear that we do not have any duplicate rows, but try dropping the column _customer_id_ and checking for duplicates again.

     drop(columns = 'column'): Drops 'column' from a dataframe

In [ ]:
#TASK: Remove column "customer_id"

In [ ]:
#TASK: Identify duplicated rows again

A simple way to drop duplicate rows is to use drop_duplicates()

     drop_duplicates(): removes duplicated rows from a data frame

In [ ]:
#TASK: Delete duplicated rows

-------
<a id='sec6'></a>
## 6. Save the cleaned data set
Save Python object as a file using 'pickle'. You also save the file as a CSV.

    to_pickle(): Pickle (serialize) Python object to file
    to_csv(): Write Python object to a CSV file

In [ ]:
churn_df.to_pickle("churn_for_engineering.p")

# Well done!